.like-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    position: relative;
    outline: none;
  }
  .like-button:hover > .icon {
    transform: scale(1.2);
    cursor: pointer;
    transition: .2s linear;
    background-color: transparent !important;
  }
  .like-button:hover {
    background-color: transparent !important; /* Add this rule to prevent parent styling */
  }
  .like-button:focus,
  .like-button:active {
    background-color: transparent !important; /* Prevent background from changing */
  }
  .like-button:focus > .icon {
    fill: #fd1853;
    animation: grosseur .2s linear;
  }
  @keyframes grosseur {
    0% {
      width: 50px;
      height: 50px;
      fill: #fd1853;
    }
  
    100% {
      width: 30px;
      height: 30px;
      fill: #fd1853;
    }
  }